## MDLE - Project 2

In [2]:
import pandas as pd

tracks = pd.read_csv("fma_metadata/tracks.csv", encoding='utf-8-sig')

tracks

/var/folders/g3/kj70w42d2kz14wq0r9tqx1yr0000gn/T/ipykernel_39764/224490643.py:3: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  tracks = pd.read_csv("fma_metadata/tracks.csv", encoding='utf-8-sig')

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,NaN,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106571,155316,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,122,NaN,Creative Commons Attribution-NonCommercial-NoD...,102,NaN,3,NaN,[],The Auger
106572,155317,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,194,NaN,Creative Commons Attribution-NonCommercial-NoD...,165,NaN,4,NaN,[],Let's Skin Ruby
106573,155318,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,214,NaN,Creative Commons Attribution-NonCommercial-NoD...,168,NaN,6,NaN,[],My House Smells Like Kim Deal/Pulp
106574,155319,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,336,NaN,Creative Commons Attribution-NonCommercial-NoD...,294,NaN,5,NaN,[],The Man With Two Mouths
106575,155320,0,2017-03-26 16:22:18,2017-03-26 00:00:00,NaN,1,22906,NaN,7481,NaN,...,NaN,972,NaN,Attribution-NonCommercial,705,NaN,7,NaN,"['ballad', 'epic', 'rockabilly', 'curse', 'hex...",Another Trick Up My Sleeve (Instrumental)

In [16]:
tracks = pd.read_csv("fma_metadata/tracks.csv", index_col=0, header=[0, 1])

tracks.shape

(106574, 52)

In [2]:

# Get the first and second row
first_row = tracks.iloc[0, :]
second_row = tracks.iloc[1, :]

# Get the new column names from the first and second row
new_column_names = [second_row.iloc[0]] + list(first_row.iloc[1:].values)

# Rename the columns of the DataFrame
tracks.columns = new_column_names
tracks = tracks.iloc[2:, :].reset_index(drop=True)
tracks

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
1,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
2,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
3,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
4,20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p> ""spiritual songs"" from Nicky Cook</p>",2710,NaN,...,NaN,978,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106569,155316,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,122,NaN,Creative Commons Attribution-NonCommercial-NoD...,102,NaN,3,NaN,[],The Auger
106570,155317,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,194,NaN,Creative Commons Attribution-NonCommercial-NoD...,165,NaN,4,NaN,[],Let's Skin Ruby
106571,155318,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,214,NaN,Creative Commons Attribution-NonCommercial-NoD...,168,NaN,6,NaN,[],My House Smells Like Kim Deal/Pulp
106572,155319,0,2017-03-30 15:20:35,2017-02-17 00:00:00,NaN,0,22940,"<p>A live performance at Monty Hall on Feb 17,...",1506,Monty Hall,...,NaN,336,NaN,Creative Commons Attribution-NonCommercial-NoD...,294,NaN,5,NaN,[],The Man With Two Mouths
106573,155320,0,2017-03-26 16:22:18,2017-03-26 00:00:00,NaN,1,22906,NaN,7481,NaN,...,NaN,972,NaN,Attribution-NonCommercial,705,NaN,7,NaN,"['ballad', 'epic', 'rockabilly', 'curse', 'hex...",Another Trick Up My Sleeve (Instrumental)

In [18]:
tracks = tracks.loc[tracks['set','subset'] == 'small'].reset_index(drop=True)
tracks

        album
     comments         date_created        date_released        engineer
0           0  2008-11-26 01:44:45  2009-01-05 00:00:00             NaN  \
1           0  2008-11-26 01:44:45  2009-01-05 00:00:00             NaN
2           0  2008-11-26 01:45:08  2008-02-06 00:00:00             NaN
3           1  2008-11-26 01:49:59  2007-05-22 00:00:00             NaN
4           0  2008-11-26 01:49:57  2009-01-16 00:00:00             NaN
...       ...                  ...                  ...             ...
7995        0  2017-03-05 04:57:38  2017-03-05 00:00:00             NaN
7996        0  2017-03-05 04:57:38  2017-03-05 00:00:00             NaN
7997        0  2017-03-07 18:44:11                  NaN  Ernie Indradat
7998        0  2017-03-07 18:44:11                  NaN  Ernie Indradat
7999        0  2017-03-24 19:40:34  2017-03-24 00:00:00        JBlanked


     favorites     id                                        information
0            4      1                                            <p></p>  \
1            4      1                                            <p></p>
2            4      6                                                NaN
3            1     61  <p>Alec K. Redfearn &amp; The Eyesores: Ellen ...
4            1     60  <p>A full ensamble of strings, drums, electron...
...        ...    ...                                                ...
7995         0  22780                                                NaN
7996         0  22780                                                NaN
7997         0  22789  <p>A live performance at WFMU for Dark Night o...
7998         0  22789  <p>A live performance at WFMU for Dark Night o...
7999         1  22899  <p>Hip Hop, Old School type beat 2017, Trap Mu...


     listens                        producer
0       6073                             NaN  \
1       6073                             NaN
2      47632                             NaN
3       1300  Alec K. Refearn, Rob Pemberton
4       1304                             NaN
...      ...                             ...
7995   22334                         Fleslit
7996   22334                         Fleslit
7997    3777                   Julie Bennack
7998    3777                   Julie Bennack
7999    4524                        JBlanked

                                                         ...       track
                                                   tags  ... information
0                                                    []  ...         NaN  \
1                                                    []  ...         NaN
2                                                    []  ...         NaN
3                                                    []  ...         NaN
4                                                    []  ...         NaN
...                                                 ...  ...         ...
7995  ['fleslit', 'trap beat free use', 'trap beat f...  ...         NaN
7996  ['fleslit', 'trap beat free use', 'trap beat f...  ...         NaN
7997                                                 []  ...         NaN
7998                                                 []  ...         NaN
7999  ['old school beats', '2017 free instrumentals'...  ...         NaN


     interest language_code
0        4656            en  \
1        1933            en
2       54881            en
3        1593            en
4         839            en
...       ...           ...
7995     3371           NaN
7996     4525           NaN
7997      809           NaN
7998      851           NaN
7999     2065           NaN


                                                license listens lyricist
0     Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN  \
1     Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
2     Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
3     Attribution-Noncommercial-No Derivative Works ...    1299      NaN
4     Attribution-Noncommercial-No Derivative Works ...     725      NaN
...                                                 ...     ...      ...
7995                                        Attribution    2705      NaN
7996                                        Attribution    3589      NaN
7997  Creative Commons Attribution-NonCommercial-NoD...     676      NaN
7998  Creative Commons Attribution-NonCommercial-NoD...     788      NaN
7999                                        Attribution    1474      NaN


     number publisher                                               tags
0         3       NaN                                                 []  \
1         6       NaN                                                 []
2         1       NaN                                                 []
3         2       NaN                                                 []
4         4       NaN                                                 []
...     ...       ...                                                ...
7995     17       NaN  ['fleslit', 'trap beat free use', 'trap beat f...
7996     18       NaN  ['fleslit', 'trap beat free use', 'trap beat f...
7997      9       NaN                                                 []
7998     10       NaN                                                 []
7999      3       NaN  ['old school beats', '2017 free instrumentals'...


                            title
0                            Food
1                      This World
2                         Freeway
3              Queen Of The Wires
4                            Ohio
...                           ...
7995                          MIA
7996                  A1 Symphony
7997                      Do Easy
7998  Dead Can Dance (uncensored)
7999                          Roy

[8000 rows x 52 columns]

In [21]:
tracks.shape

(8000, 52)

In [5]:
from sklearn.cluster import AgglomerativeClustering

In [20]:
tracks.shape[0]

8000

In [22]:
features = pd.read_csv("fma_metadata/features.csv", encoding='utf-8-sig')
features

/var/folders/g3/kj70w42d2kz14wq0r9tqx1yr0000gn/T/ipykernel_56214/3656559579.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518) have mixed types. Specify dtype option on import or set low_memory=False.
  features = pd.read_csv("fma_metadata/features.csv", encoding='utf-8-sig')

,feature,chroma_cens,chroma_cens.1,chroma_cens.2,chroma_cens.3,chroma_cens.4,chroma_cens.5,chroma_cens.6,chroma_cens.7,chroma_cens.8,...,tonnetz.39,tonnetz.40,tonnetz.41,zcr,zcr.1,zcr.2,zcr.3,zcr.4,zcr.5,zcr.6
0,statistics,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,...,std,std,std,kurtosis,max,mean,median,min,skew,std
1,number,01,02,03,04,05,06,07,08,09,...,04,05,06,01,01,01,01,01,01,01
2,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,7.1806526184e+00,5.2303090096e+00,2.4932080507e-01,1.3476201296e+00,1.4824777842e+00,5.3137123585e-01,1.4815930128e+00,2.6914546490e+00,8.6686819792e-01,...,5.4125156254e-02,1.2225749902e-02,1.2110591866e-02,5.7588901520e+00,4.5947265625e-01,8.5629448295e-02,7.1289062500e-02,0.0000000000e+00,2.0898721218e+00,6.1448108405e-02
4,3,1.8889633417e+00,7.6053929329e-01,3.4529656172e-01,2.2952005863e+00,1.6540306807e+00,6.7592434585e-02,1.3668476343e+00,1.0540937185e+00,1.0810308903e-01,...,6.3831120729e-02,1.4211839065e-02,1.7740072682e-02,2.8246941566e+00,4.6630859375e-01,8.4578499198e-02,6.3964843750e-02,0.0000000000e+00,1.7167237997e+00,6.9330163300e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106572,155316,-0.490129,0.463834,2.32197,-0.084352,1.662914,2.115189,-0.237794,5.695442,0.830353,...,0.12841,0.022547,0.019816,4.448255,0.172852,0.028773,0.02832,0.003906,0.955388,0.012385
106573,155317,-0.461559,-0.229601,-0.496632,-0.422033,0.130612,-0.263825,-0.628103,-0.082687,-0.229483,...,0.132964,0.023548,0.026527,3.270612,0.196289,0.031116,0.027832,0.002441,1.28306,0.019059
106574,155318,0.552473,-0.110498,-0.532014,0.263131,-0.224011,-0.530972,1.713526,1.418444,1.325197,...,0.108324,0.01754,0.020471,2.356727,0.212891,0.03845,0.037109,0.003418,0.828569,0.017904
106575,155319,-0.176901,0.187208,-0.050664,0.368843,0.066005,-0.857354,-0.78086,0.626281,-0.630938,...,0.088311,0.018328,0.017936,6.188604,0.16748,0.04148,0.038086,0.004883,1.81874,0.020133
106576,155320,0.489665,1.862421,0.854461,-0.103666,-0.249835,0.360283,-0.366701,0.033578,-0.834606,...,0.091421,0.020312,0.016794,21.75605,0.845215,0.075141,0.044434,0.004395,4.687204,0.137205

In [23]:
first_row = features.iloc[0, :]
second_row = features.iloc[1, :]
third_row = features.iloc[2, :]

# Get the new column names from the first and second row
new_column_names = [third_row.iloc[0]] + list(first_row.iloc[1:].values)

# Rename the columns of the DataFrame
features.columns = new_column_names
features = features.iloc[3:, :].reset_index(drop=True)
features

,track_id,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,kurtosis,...,std,std,std,kurtosis,max,mean,median,min,skew,std
0,2,7.1806526184e+00,5.2303090096e+00,2.4932080507e-01,1.3476201296e+00,1.4824777842e+00,5.3137123585e-01,1.4815930128e+00,2.6914546490e+00,8.6686819792e-01,...,5.4125156254e-02,1.2225749902e-02,1.2110591866e-02,5.7588901520e+00,4.5947265625e-01,8.5629448295e-02,7.1289062500e-02,0.0000000000e+00,2.0898721218e+00,6.1448108405e-02
1,3,1.8889633417e+00,7.6053929329e-01,3.4529656172e-01,2.2952005863e+00,1.6540306807e+00,6.7592434585e-02,1.3668476343e+00,1.0540937185e+00,1.0810308903e-01,...,6.3831120729e-02,1.4211839065e-02,1.7740072682e-02,2.8246941566e+00,4.6630859375e-01,8.4578499198e-02,6.3964843750e-02,0.0000000000e+00,1.7167237997e+00,6.9330163300e-02
2,5,5.2756297588e-01,-7.7654317021e-02,-2.7961030602e-01,6.8588310480e-01,1.9375696182e+00,8.8083887100e-01,-9.2319184542e-01,-9.2723226547e-01,6.6661673784e-01,...,4.0730185807e-02,1.2690781616e-02,1.4759079553e-02,6.8084154129e+00,3.7500000000e-01,5.3114086390e-02,4.1503906250e-02,0.0000000000e+00,2.1933031082e+00,4.4860601425e-02
3,10,3.7022454739e+00,-2.9119303823e-01,2.1967420578e+00,-2.3444947600e-01,1.3673638105e+00,9.9841135740e-01,1.7706941366e+00,1.6045658588e+00,5.2121698856e-01,...,7.4357867241e-02,1.7951935530e-02,1.3921394013e-02,2.1434211731e+01,4.5214843750e-01,7.7514506876e-02,7.1777343750e-02,0.0000000000e+00,3.5423245430e+00,4.0800448507e-02
4,20,-1.9383698702e-01,-1.9852678478e-01,2.0154602826e-01,2.5855624676e-01,7.7520370483e-01,8.4794059396e-02,-2.8929358721e-01,-8.1641042233e-01,4.3850939721e-02,...,9.5002755523e-02,2.2492416203e-02,2.1355332807e-02,1.6669036865e+01,4.6972656250e-01,4.7224905342e-02,4.0039062500e-02,9.7656250000e-04,3.1898307800e+00,3.0992921442e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106569,155316,-0.490129,0.463834,2.32197,-0.084352,1.662914,2.115189,-0.237794,5.695442,0.830353,...,0.12841,0.022547,0.019816,4.448255,0.172852,0.028773,0.02832,0.003906,0.955388,0.012385
106570,155317,-0.461559,-0.229601,-0.496632,-0.422033,0.130612,-0.263825,-0.628103,-0.082687,-0.229483,...,0.132964,0.023548,0.026527,3.270612,0.196289,0.031116,0.027832,0.002441,1.28306,0.019059
106571,155318,0.552473,-0.110498,-0.532014,0.263131,-0.224011,-0.530972,1.713526,1.418444,1.325197,...,0.108324,0.01754,0.020471,2.356727,0.212891,0.03845,0.037109,0.003418,0.828569,0.017904
106572,155319,-0.176901,0.187208,-0.050664,0.368843,0.066005,-0.857354,-0.78086,0.626281,-0.630938,...,0.088311,0.018328,0.017936,6.188604,0.16748,0.04148,0.038086,0.004883,1.81874,0.020133
106573,155320,0.489665,1.862421,0.854461,-0.103666,-0.249835,0.360283,-0.366701,0.033578,-0.834606,...,0.091421,0.020312,0.016794,21.75605,0.845215,0.075141,0.044434,0.004395,4.687204,0.137205

In [24]:
ids = list(set(tracks.index.to_list()))
features_sm = features.loc[ids]
features_sm = features_sm.drop(['track_id'], axis=1)
features_sm


print(features_sm.shape)

(8000, 518)

In [ ]:
df_numeric = features_sm.applymap(lambda x: pd.to_numeric(x, errors='coerce'))

In [ ]:
df_numeric.shape

In [26]:
import numpy as np
from scipy.spatial.distance import pdist, squareform
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import pairwise_distances


def cluster_metrics(data, labels):
    clusters = np.unique(labels)
    radii = []
    diameters = []
    densities_r = []
    densities_d = []

    for cluster in clusters:
        cluster_data = data[labels == cluster]
        centroid = np.mean(cluster_data, axis=0)
        intra_distances = pairwise_distances(cluster_data)
        radius = np.max(np.linalg.norm(cluster_data - centroid, axis=1))
        diameter = np.max(intra_distances)
        density_r = None
        if radius == 0:
            density_r = 0
        else:
            density_r = len(cluster_data) / (radius ** 2)
        density_d = None
        if diameter == 0:
            density_d = 0
        else:
            density_d = len(cluster_data) / (diameter ** 2)
        

        radii.append(radius)
        diameters.append(diameter)
        densities_r.append(density_r)
        densities_d.append(density_d)

    return radii, diameters, densities_r, densities_d

In [27]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_numeric_scaled = scaler.fit_transform(features_sm.values)

results = []
for k in range(8, 17):
    model = AgglomerativeClustering(n_clusters=k)
    labels = model.fit_predict(df_numeric_scaled)
    
    radii, diameters, density_r, density_d = cluster_metrics(df_numeric_scaled, labels)
    
    result = {
        'k': k,
        'radii': radii,
        'diameters': diameters,
        'density_r': density_r,
        'density_d': density_d,
    }
    results.append(result)

# Print results
for result in results:
    print(f"Number of clusters (k): {result['k']}")
    print(f"Radius: {result['radii']}")
    print(f"Diameters: {result['diameters']}")
    print(f"Densities_r: {result['density_r']}")
    print(f"Densities_d: {result['density_d']}")
    print()

Number of clusters (k): 8
Radius: [179.28142275417844, 115.02873830670929, 104.4643845958334, 122.43338867336786, 107.90074127635503, 138.11429738032527, 75.10167085306476, 82.96354480334425]
Diameters: [244.0316174678465, 140.987812699309, 124.14427149326744, 156.32026768059666, 132.75321736218118, 207.17144607048795, 92.79817346704526, 165.92708960668847]
Densities_r: [0.00015556053362168642, 0.02478912121981944, 0.243841922774769, 0.17264918482620736, 0.104186618876703, 0.0001572693087446035, 0.21275611314140297, 0.0002905730926269003]
Densities_d: [8.39610396055789e-05, 0.016501016475663047, 0.1726599083192357, 0.10590920105864295, 0.06882887803604497, 6.989747055315708e-05, 0.13934852938697398, 7.264327315672509e-05]

Number of clusters (k): 9
Radius: [104.4643845958334, 115.02873830670929, 138.11429738032527, 122.43338867336786, 107.90074127635503, 111.35364136478782, 75.10167085306476, 82.96354480334425, 6.356209565333717e-15]
Diameters: [124.14427149326744, 140.987812699309, 207.17144607048795, 156.32026768059666, 132.75321736218118, 222.70728272957558, 92.79817346704526, 165.92708960668847, 0.0]
Densities_r: [0.243841922774769, 0.02478912121981944, 0.0001572693087446035, 0.17264918482620736, 0.104186618876703, 0.00016129509060403504, 0.21275611314140297, 0.0002905730926269003, 7.42548524839648e+28]
Densities_d: [0.1726599083192357, 0.016501016475663047, 6.989747055315708e-05, 0.10590920105864295, 0.06882887803604497, 4.0323772651008786e-05, 0.13934852938697398, 7.264327315672509e-05, 0]

Number of clusters (k): 10
Radius: [115.02873830670929, 107.90074127635503, 138.11429738032527, 122.43338867336786, 104.28155342285812, 111.35364136478782, 75.10167085306476, 82.96354480334425, 6.356209565333717e-15, 65.17805626499185]
Diameters: [140.987812699309, 132.75321736218118, 207.17144607048795, 156.32026768059666, 117.18590170834185, 222.70728272957558, 92.79817346704526, 165.92708960668847, 0.0, 87.59453116673829]
Densities_r: [0.02478912121981944, 0.104186618876703, 0.0001572693087446035, 0.17264918482620736, 0.16589051264867954, 0.00016129509060403504, 0.21275611314140297, 0.0002905730926269003, 7.42548524839648e+28, 0.20173349481541902]
Densities_d: [0.016501016475663047, 0.06882887803604497, 6.989747055315708e-05, 0.10590920105864295, 0.13136685444748755, 4.0323772651008786e-05, 0.13934852938697398, 7.264327315672509e-05, 0, 0.1116932265749118]

Number of clusters (k): 11
Radius: [107.90074127635503, 122.43338867336786, 138.11429738032527, 105.85700007355473, 104.28155342285812, 111.35364136478782, 75.10167085306476, 82.96354480334425, 6.356209565333717e-15, 65.17805626499185, 74.4647114535539]
Diameters: [132.75321736218118, 156.32026768059666, 207.17144607048795, 140.987812699309, 117.18590170834185, 222.70728272957558, 92.79817346704526, 165.92708960668847, 0.0, 87.59453116673829, 96.917388986732]
Densities_r: [0.104186618876703, 0.17264918482620736, 0.0001572693087446035, 0.00232024680663321, 0.16589051264867954, 0.00016129509060403504, 0.21275611314140297, 0.0002905730926269003, 7.42548524839648e+28, 0.20173349481541902, 0.05446354689406358]
Densities_d: [0.06882887803604497, 0.10590920105864295, 6.989747055315708e-05, 0.0013080074035586562, 0.13136685444748755, 4.0323772651008786e-05, 0.13934852938697398, 7.264327315672509e-05, 0, 0.1116932265749118, 0.03215166972996233]

Number of clusters (k): 12
Radius: [107.81411581286663, 122.43338867336786, 138.11429738032527, 105.85700007355473, 104.28155342285812, 111.35364136478782, 75.10167085306476, 82.96354480334425, 6.356209565333717e-15, 65.17805626499185, 74.4647114535539, 32.926410253981246]
Diameters: [132.75321736218118, 156.32026768059666, 207.17144607048795, 140.987812699309, 117.18590170834185, 222.70728272957558, 92.79817346704526, 165.92708960668847, 0.0, 87.59453116673829, 96.917388986732, 46.002366251939556]
Densities_r: [0.09411656556537697, 0.17264918482620736, 0.0001572693087446035, 0.00232024680663321, 0.16589051264867954, 0.00016129509060403504, 0.21275611314140297, 0.0002905730926269003, 7.42548524839648e+28, 0.20173349481541902, 0.05446354689406358, 0.10976356177652417]
Densities_d: [0.06207649841008508, 0.10590920105864295, 6.989747055315708e-05, 0.0013080074035586562, 0.13136685444748755, 4.0323772651008786e-05, 0.13934852938697398, 7.264327315672509e-05, 0, 0.1116932265749118, 0.03215166972996233, 0.05623239988791059]

Number of clusters (k): 13
Radius: [122.43338867336786, 105.85700007355473, 138.11429738032527, 107.8136295604111, 104.28155342285812, 111.35364136478782, 75.10167085306476, 82.96354480334425, 6.356209565333717e-15, 65.17805626499185, 74.4647114535539, 32.926410253981246, 3.844582835995699e-15]
Diameters: [156.32026768059666, 140.987812699309, 207.17144607048795, 131.6739186612507, 117.18590170834185, 222.70728272957558, 92.79817346704526, 165.92708960668847, 0.0, 87.59453116673829, 96.917388986732, 46.002366251939556, 2.6973983046972182e-06]
Densities_r: [0.17264918482620736, 0.00232024680663321, 0.0001572693087446035, 0.09368726180419462, 0.16589051264867954, 0.00016129509060403504, 0.21275611314140297, 0.0002905730926269003, 7.42548524839648e+28, 0.20173349481541902, 0.05446354689406358, 0.10976356177652417, 3.3827629001509336e+29]
Densities_d: [0.10590920105864295, 0.0013080074035586562, 6.989747055315708e-05, 0.06280993713579813, 0.13136685444748755, 4.0323772651008786e-05, 0.13934852938697398, 7.264327315672509e-05, 0, 0.1116932265749118, 0.03215166972996233, 0.05623239988791059, 687194767359.9999]

Number of clusters (k): 14
Radius: [138.11429738032527, 105.85700007355473, 122.459869816756, 107.8136295604111, 104.28155342285812, 111.35364136478782, 59.81918831820397, 82.96354480334425, 6.356209565333717e-15, 65.17805626499185, 74.4647114535539, 32.926410253981246, 3.844582835995699e-15, 75.10167085306476]
Diameters: [207.17144607048795, 140.987812699309, 156.32026768059666, 131.6739186612507, 117.18590170834185, 222.70728272957558, 80.34900051570416, 165.92708960668847, 0.0, 87.59453116673829, 96.917388986732, 46.002366251939556, 2.6973983046972182e-06, 92.79817346704526]
Densities_r: [0.0001572693087446035, 0.00232024680663321, 0.13176478369385683, 0.09368726180419462, 0.16589051264867954, 0.00016129509060403504, 0.171029249699134, 0.0002905730926269003, 7.42548524839648e+28, 0.20173349481541902, 0.05446354689406358, 0.10976356177652417, 3.3827629001509336e+29, 0.21275611314140297]
Densities_d: [6.989747055315708e-05, 0.0013080074035586562, 0.08086421224570264, 0.06280993713579813, 0.13136685444748755, 4.0323772651008786e-05, 0.0947960987082052, 7.264327315672509e-05, 0, 0.1116932265749118, 0.03215166972996233, 0.05623239988791059, 687194767359.9999, 0.13934852938697398]

Number of clusters (k): 15
Radius: [122.459869816756, 105.85700007355473, 111.35364136478782, 107.8136295604111, 104.28155342285812, 32.926410253981246, 59.81918831820397, 82.96354480334425, 6.356209565333717e-15, 65.17805626499185, 74.4647114535539, 0.0, 3.844582835995699e-15, 75.10167085306476, 0.0]
Diameters: [156.32026768059666, 140.987812699309, 222.70728272957558, 131.6739186612507, 117.18590170834185, 46.002366251939556, 80.34900051570416, 165.92708960668847, 0.0, 87.59453116673829, 96.917388986732, 3.814697265625e-06, 2.6973983046972182e-06, 92.79817346704526, 0.0]
Densities_r: [0.13176478369385683, 0.00232024680663321, 0.00016129509060403504, 0.09368726180419462, 0.16589051264867954, 0.10976356177652417, 0.171029249699134, 0.0002905730926269003, 7.42548524839648e+28, 0.20173349481541902, 0.05446354689406358, 0, 3.3827629001509336e+29, 0.21275611314140297, 0]
Densities_d: [0.08086421224570264, 0.0013080074035586562, 4.0323772651008786e-05, 0.06280993713579813, 0.13136685444748755, 0.05623239988791059, 0.0947960987082052, 7.264327315672509e-05, 0, 0.1116932265749118, 0.03215166972996233, 137438953472.0, 687194767359.9999, 0.13934852938697398, 0]

Number of clusters (k): 16
Radius: [105.85700007355473, 121.46357347169537, 111.35364136478782, 107.8136295604111, 104.28155342285812, 32.926410253981246, 59.81918831820397, 57.92948046535945, 6.356209565333717e-15, 65.17805626499185, 74.4647114535539, 0.0, 3.844582835995699e-15, 75.10167085306476, 0.0, 82.96354480334425]
Diameters: [140.987812699309, 156.32026768059666, 222.70728272957558, 131.6739186612507, 117.18590170834185, 46.002366251939556, 80.34900051570416, 74.7906869726614, 0.0, 87.59453116673829, 96.917388986732, 3.814697265625e-06, 2.6973983046972182e-06, 92.79817346704526, 0.0, 165.92708960668847]
Densities_r: [0.00232024680663321, 0.024807841441685276, 0.00016129509060403504, 0.09368726180419462, 0.16589051264867954, 0.10976356177652417, 0.171029249699134, 0.47976284239404854, 7.42548524839648e+28, 0.20173349481541902, 0.05446354689406358, 0, 3.3827629001509336e+29, 0.21275611314140297, 0, 0.0002905730926269003]
Densities_d: [0.0013080074035586562, 0.014977885466562332, 4.0323772651008786e-05, 0.06280993713579813, 0.13136685444748755, 0.05623239988791059, 0.0947960987082052, 0.2878265362323838, 0, 0.1116932265749118, 0.03215166972996233, 137438953472.0, 687194767359.9999, 0.13934852938697398, 0, 7.264327315672509e-05]

In [ ]:
features_complete = features.applymap(lambda x: pd.to_numeric(x, errors='coerce'))

In [28]:
import pandas as pd
from sklearn.cluster import AgglomerativeClustering, MiniBatchKMeans
from sklearn.metrics import silhouette_score


# Define the range of k values to test
k_values = range(8, 17)


# Calculate the distance matrix
dist_matrix = pairwise_distances(df_numeric_scaled, metric="euclidean")

# Calculate the radius, diameter and density for each k value
for k in k_values:
    clustering = AgglomerativeClustering(n_clusters=k, affinity="precomputed", linkage="complete").fit(dist_matrix)
    labels = clustering.labels_
    cluster_centers = pd.DataFrame(df_numeric_scaled).groupby(labels).mean()
    radius = pd.DataFrame(df_numeric_scaled).groupby(labels).apply(lambda x: pd.Series(x.apply(lambda x: np.linalg.norm(x - cluster_centers.loc[x.name]), axis=1).max(), name='radius'))
    diameter = pd.DataFrame(df_numeric_scaled).groupby(labels).apply(lambda x: pd.Series(x.apply(lambda x: np.linalg.norm(x - cluster_centers.loc[x.name]), axis=1).mean(), name='diameter'))
    density = pd.DataFrame(df_numeric_scaled).groupby(labels).apply(lambda x: pd.Series(x.apply(lambda x: np.exp(-(np.linalg.norm(x - cluster_centers.loc[x.name])/radius.loc[x.name])**2), axis=1).mean(), name='density'))
    print(f"k={k}, radius={radius.mean()[0]:.2f}, diameter={diameter.mean()[0]:.2f}, density={density.mean()[0]:.2f}")

# Choose the best k value based on the silhouette score
scores = []
for k in range(8, 17):
    clustering = MiniBatchKMeans(n_clusters=k).fit(features_complete)
    score = silhouette_score(features_complete, clustering.labels_)
    scores.append(score)
best_k = 8 + scores.index(max(scores))

# Cluster the complete dataset using Mini-Batch K-Means with the best k value
clustering = MiniBatchKMeans(n_clusters=best_k).fit(features_complete)

/Users/sobral/Desktop/mei/mdle/mdle-assignment-2/venv/lib/python3.10/site-packages/sklearn/cluster/_agglomerative.py:983: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

KeyError: 4174

In [1]:
import numpy as np
from sklearn.cluster import KMeans

def BFR(X, k, m):
    # Step 1: Randomly sample m data points from X
    S = X[np.random.choice(X.shape[0], m, replace=False), :]
    
    # Step 2: Cluster the sample S into k clusters using k-means
    kmeans = KMeans(n_clusters=k, random_state=0).fit(S)
    
    # Step 3: Assign each data point in X to the closest cluster in S
    labels = kmeans.predict(X)
    
    # Step 4: For each cluster, create a buffer containing all data points in X assigned to that cluster
    buffers = []
    for i in range(k):
        buffer = X[labels == i, :]
        buffers.append(buffer)
        
    # Step 5: For each buffer, cluster its data points into k_i clusters using k-means
    k_i = int(np.ceil(k * len(X) / m))
    C = []
    for i in range(k):
        if len(buffers[i]) > 0:
            kmeans_i = KMeans(n_clusters=k_i, random_state=0).fit(buffers[i])
            C.append(kmeans_i.cluster_centers_)
    
    # Step 6: Assign each data point in X to the closest cluster among the centers in C
    new_labels = np.zeros(len(X), dtype=int)
    for i in range(len(X)):
        min_dist = np.inf
        for j in range(len(C)):
            dist = np.linalg.norm(X[i, :] - C[j], axis=1)
            if np.min(dist) < min_dist:
                new_labels[i] = j
                min_dist = np.min(dist)
    
    # Return the new labels and the centers C
    return new_labels, C

In [3]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
import numpy as np

# Select the small subset of tracks
tracks_small = tracks[tracks['set', 'subset'] == 'small']

# Select the best value of k obtained from exercise 1.1
k_best = 9

# Initialize the BFR algorithm with the selected value of k
bfr = BFR(tracks_small, k_best, 100)

# Initialize the algorithm parameters
num_init_clusters = 20
num_max_clusters = 50
merge_threshold = 0.25

# Initialize the fuzzy relation matrix
num_data_points = len(tracks_small)
fuzzy_relation = np.random.rand(num_data_points, k_best)

# Iterate over the data points, updating the fuzzy relation matrix and the cluster centers
while True:
    # Compute the cluster centers
    cluster_centers = None

    # Update the fuzzy relation matrix
    distances = pairwise_distances(tracks_small, cluster_centers)
    fuzzy_relation_new = ...
    fuzzy_relation_diff = np.abs(fuzzy_relation - fuzzy_relation_new).sum()
    fuzzy_relation = fuzzy_relation_new

    # Apply the threshold for merging clusters
    if num_init_clusters > 1:
        merge_indices = 5
        fuzzy_relation_merged = 5
        fuzzy_relation = fuzzy_relation_merged

    # Check for convergence
    if fuzzy_relation_diff < merge_threshold:
        break

# Extract the final clustering results
cluster_labels = np.argmax(fuzzy_relation, axis=1)
cluster_centers = cluster_centers[np.unique(cluster_labels), :]

InvalidIndexError: (array([7747, 6559, 6926, 5970, 5357, 7219, 5784, 3149, 7186, 1745,  493,
       2427, 7950, 5676, 5098, 6633, 3929, 7200, 5759, 7234, 4319, 5757,
       6404, 3339, 6151, 6923,  838, 3626, 7081, 6189, 5717, 6966,  659,
       7675, 5353, 6973, 4730, 2420, 6904,  104, 3744, 2560,  608, 5178,
        469, 2279,  324, 7964, 6826, 5988,   13, 4003, 1224, 5055,  134,
       3415,  988,  386,  557, 1921, 7864, 3782, 6749, 5900, 3045, 5337,
       5349, 2740,  384, 2987, 4284, 2253, 4843, 5032, 4549, 6244, 3489,
       5260,   86, 7042, 2430, 6081, 4078,  856, 6199, 7635,   43, 1054,
        237, 1581, 4873, 6697, 3412, 5705, 6401, 3358, 2550, 3798, 7442,
       4374]), slice(None, None, None))

## Exercise 2

In [12]:
data = pd.read_csv('./ml-100k/u.data', delimiter='\t', header=None, names=['user_id', 'item_id', 'rating', 'timestamp'])

data

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [11]:
movies = pd.read_csv('./ml-100k/u.item', encoding='latin-1', delimiter='|', header=None, names=['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'])

movies

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
genre = pd.read_csv('./ml-100k/u.genre', delimiter='|', header=None, names=['genre', 'genre_id'])
genre

          genre  genre_id
0       unknown         0
1        Action         1
2     Adventure         2
3     Animation         3
4    Children's         4
5        Comedy         5
6         Crime         6
7   Documentary         7
8         Drama         8
9       Fantasy         9
10    Film-Noir        10
11       Horror        11
12      Musical        12
13      Mystery        13
14      Romance        14
15       Sci-Fi        15
16     Thriller        16
17          War        17
18      Western        18

In [10]:
users = pd.read_csv('./ml-100k/u.user', delimiter='|', header=None, names=["user_id", "age", "gender", "occupation", "zip_code"])

users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [40]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors

# Load the data
ratings = pd.read_csv('ml-100k/u.data', delimiter='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])

# Convert the ratings into a user-item matrix
user_item_matrix = ratings.pivot_table(index='user_id', columns='item_id', values='rating', fill_value=0)


# Impute the missing values with the mean rating for each item
item_means = user_item_matrix.mean(axis=0)
user_item_matrix = user_item_matrix.fillna(item_means)

# Split the dataset into training and testing sets
train_data, test_data = train_test_split(ratings, test_size=0.1, random_state=42)

# Compute the item-item similarity matrix
item_item_sim_matrix = cosine_similarity(user_item_matrix.T)

# Build the nearest neighbors index
k = 10
nn = NearestNeighbors(n_neighbors=k+1, algorithm='brute', metric='cosine')
nn.fit(item_item_sim_matrix)

# Define a function to predict the rating of a user-item pair
def predict_rating(user_id, item_id):
    try:
        # Get the row corresponding to the user and item from the training data
        row = train_data.loc[(train_data['user_id'] == user_id) & (train_data['item_id'] == item_id)]
        # Compute the weighted sum of the ratings of similar users
        weighted_sum = (row['similarity'] * row['rating']).sum()
        # Compute the sum of the similarities of similar users
        sum_of_weights = row['similarity'].sum()
        # Compute the predicted rating using the weighted sum and sum of similarities
        predicted_rating = weighted_sum / sum_of_weights
    except KeyError:
        # Return the mean rating value if the user-item pair is not found in the training data
        predicted_rating = train_data['rating'].mean()
    return predicted_rating

test_data['predicted_rating'] = test_data.apply(lambda x: predict_rating(x['user_id'], x['item_id']), axis=1)

# Compute the root mean squared error (RMSE)
rmse = np.sqrt(np.mean((test_data['rating'] - test_data['predicted_rating'])**2))
print('RMSE:', rmse)

RMSE: 1.1267900927352972

In [49]:
import pyspark.sql.functions as F
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import Normalizer
from pyspark.ml.feature import BucketedRandomProjectionLSH
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col


# Load the data
ratings = spark.read.format("csv").option("delimiter", "\t").option("header", False).load("ml-100k/u.data") \
    .toDF("user_id", "item_id", "rating", "timestamp")
    
ratings = ratings.withColumn("user_id", col("user_id").cast("double"))
ratings = ratings.withColumn("item_id", col("item_id").cast("double"))
ratings = ratings.withColumn("rating", col("rating").cast("double"))


# Convert the ratings into a user-item matrix
user_item_matrix = ratings.groupBy("user_id").pivot("item_id").agg(F.first("rating")).na.fill(0)

# Split the dataset into training and testing sets
train_data, test_data = ratings.randomSplit([0.9, 0.1], seed=42)

# Train an ALS model on the training set
als = ALS(rank=10, maxIter=10, regParam=0.1, userCol="user_id", itemCol="item_id", ratingCol="rating",
          coldStartStrategy="drop", nonnegative=True)
model = als.fit(train_data)

# Generate predictions on the test set
predictions = model.transform(test_data)

# Evaluate the model using RMSE
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)

print("RMSE:", rmse)

RMSE: 0.9084105889206118